<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>py-04</title>
</head>
<body>
	<h1 align="center">我是首页</h1>
    <table align="center">
        <tr>
            <td><a href="{% url 'home_addpage' %}">添加数据</a></td>
            <td><a href="{% url 'home_userlist' %}">查看数据</a></td>
        </tr>
    </table>
    <br>
    <div align="center"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1552999923333&di=55d26a8a5b1530fad46ef754513c19cd&imgtype=0&src=http%3A%2F%2Fdingyue.nosdn.127.net%2FXu20d1k6yfQB7U38TGXEziA7M1rZqV%3DA2UEIrHGDQZZ7a1533090652731.jpg" alt="" >
</div>

</body>
</html>