<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>
</head>
<body>
    <table cellspacing="0" cellpadding="1" border="1" align="center">
        <tr align="center">
            <td>编号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>邮箱</td>
            <td>密码</td>
            <td>操作</td>
        </tr>

        {% for i in info %}
        <tr align="center">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.email}}</td>
            <td>{{i.password}}</td>
            <td>
                <a href="{% url 'home_del' i.id %}">删除</a>
                <a href="{% url 'home_updatepage' i.id %}">修改</a>
            </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>