<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息</title>
</head>
<body>
    <table border="1" width="500" cellspacing="0">
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>email</td>
            <td>密码</td>
            <td>操作</td>
        </tr>
        {% for i in info %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.email}}</td>
            <td>{{i.password}}</td>
            <td>
                <a href="{% url 'myhome_del' i.id %}">删除</a>
                <a href="">修改</a>
            </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>