<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板语法讲解</title>
</head>
<body>
    {% include 'header.html' %}

    <h1>变量输出</h1>
    {{info.item1}}
    {{list.1}}
    <h1>返回html 与 js  会自动转义</h1>
    <h2>html 原样输出</h2>
    {{html}}
    {{js}}
    <h2>变量 |  safe  即可关闭转义</h2>
    {{html|safe}}
    {{js|safe}}
    
    <h1>注释</h1>
    {# {{ 2+2 }} #}

    {% comment %}
    {{ 1+1 }}
    {{info.item1}}
    {% endcomment %}
    <h1>注释完成</h1>
    <hr>
    <hr>
    <hr>
    <h1>过滤器</h1>
    {{ 'abc'|upper }}
    {{ 'BIG EYES'|lower }}

    {{html|safe}}
    {{js|safe}}

    <h2>传参数-- join  分割</h2>
    {{info.item1|join:'-'}}
    <h2>默认值过滤器 default</h2>
    {{info.item1|default:'我是默认值'}}

    <h2>看课件电子书更多</h2>
    
    <hr>
    <hr>
    <hr>
    <h1>自定义标签与过滤器</h1>
    {% load demo %}
        {{ 'abc'|kong_upper }}
        {% jia 1 2 %}
    
    {% getnav %}

    <h1>include 标签 html页面</h1>
    {% include 'footer.html' %}
    






</body>
</html>